@import "tailwindcss";

@theme {
  --breakpoint-tablet: 744px;
  --breakpoint-pc: 1248px;

  --color-brand-gray-100: #fafafa;
  --color-brand-gray-200: #eeeeee;
  --color-brand-gray-300: #d9d9d9;
  --color-brand-gray-400: #9fa6b2;
  --color-brand-gray-500: #787486;
  --color-brand-gray-600: #4b4b4b;
  --color-brand-gray-700: #333236;
  --color-brand-gray-800: #171717;

  --color-brand-blue-50: #e2ecff;
  --color-brand-blue-100: #76a5ea;
  --color-brand-blue-500: #2661e8;

  --color-brand-red: #d6173a;
  --color-brand-green: #7ac555;
  --color-brand-purple: #760dde;
  --color-brand-orange: #ffa500;
  --color-brand-pink: #e876ea;

  --font-sans: var(--font-sans), system-ui, sans-serif;
  --font-eng: var(--font-eng), system-ui, sans-serif;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.125rem;

  --text-sm: 0.8125rem;
  --text-sm--line-height: 1.25rem;

  --text-base: 1rem;
  --text-base--line-height: 1.625rem;

  --text-lg: 1rem;
  --text-lg--line-height: 1.625rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;

  --text-3xl: 2rem;
  --text-3xl--line-height: 2.625rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  body {
    font-family: var(--font-sans);
    font-size: var(--text-lg-regular-font-size, 1rem);
    line-height: var(--text-lg-regular-line-height, 1.625rem);
    font-weight: var(--text-lg-regular-font-weight, 400);
    color: var(--color-brand-gray-700);
  }
}

@layer utilities {
  /* 모바일 */
  .text-xs-bold {
    @apply text-xs font-bold;
  }
  .text-xs-semibold {
    @apply text-xs font-semibold;
  }
  .text-xs-medium {
    @apply text-xs font-medium;
  }
  .text-xs-regular {
    @apply text-xs font-normal;
  }

  .text-sm-bold {
    @apply text-sm font-bold;
  }
  .text-sm-semibold {
    @apply text-sm font-semibold;
  }
  .text-sm-medium {
    @apply text-sm font-medium;
  }
  .text-sm-regular {
    @apply text-sm font-normal;
  }

  .text-base-bold {
    @apply text-base font-bold;
  }
  .text-base-semibold {
    @apply text-base font-semibold;
  }
  .text-base-medium {
    @apply text-base font-medium;
  }
  .text-base-regular {
    @apply text-base font-normal;
  }

  .text-lg-bold {
    @apply text-lg font-bold;
  }
  .text-lg-semibold {
    @apply text-lg font-semibold;
  }
  .text-lg-medium {
    @apply text-lg font-medium;
  }
  .text-lg-regular {
    @apply text-lg font-normal;
  }

  .text-xl-bold {
    @apply text-xl font-bold;
  }
  .text-xl-semibold {
    @apply text-xl font-semibold;
  }
  .text-xl-medium {
    @apply text-xl font-medium;
  }
  .text-xl-regular {
    @apply text-xl font-normal;
  }

  .text-2xl-bold {
    @apply text-2xl font-bold;
  }
  .text-2xl-semibold {
    @apply text-2xl font-semibold;
  }
  .text-2xl-medium {
    @apply text-2xl font-medium;
  }
  .text-2xl-regular {
    @apply text-2xl font-normal;
  }

  .text-3xl-bold {
    @apply text-3xl font-bold;
  }
  .text-3xl-semibold {
    @apply text-3xl font-semibold;
  }
  .text-3xl-medium {
    @apply text-3xl font-medium;
  }
  .text-3xl-regular {
    @apply text-3xl font-normal;
  }

  /* 테블릿 */
  .tablet\:text-xs-bold {
    @apply text-xs font-bold;
  }
  .tablet\:text-xs-semibold {
    @apply text-xs font-semibold;
  }
  .tablet\:text-xs-medium {
    @apply text-xs font-medium;
  }
  .tablet\:text-xs-regular {
    @apply text-xs font-normal;
  }

  .tablet\:text-sm-bold {
    @apply text-sm font-bold;
  }
  .tablet\:text-sm-semibold {
    @apply text-sm font-semibold;
  }
  .tablet\:text-sm-medium {
    @apply text-sm font-medium;
  }
  .tablet\:text-sm-regular {
    @apply text-sm font-normal;
  }

  .tablet\:text-base-bold {
    @apply text-base font-bold;
  }
  .tablet\:text-base-semibold {
    @apply text-base font-semibold;
  }
  .tablet\:text-base-medium {
    @apply text-base font-medium;
  }
  .tablet\:text-base-regular {
    @apply text-base font-normal;
  }

  .tablet\:text-lg-bold {
    @apply text-lg font-bold;
  }
  .tablet\:text-lg-semibold {
    @apply text-lg font-semibold;
  }
  .tablet\:text-lg-medium {
    @apply text-lg font-medium;
  }
  .tablet\:text-lg-regular {
    @apply text-lg font-normal;
  }

  .tablet\:text-xl-bold {
    @apply text-xl font-bold;
  }
  .tablet\:text-xl-semibold {
    @apply text-xl font-semibold;
  }
  .tablet\:text-xl-medium {
    @apply text-xl font-medium;
  }
  .tablet\:text-xl-regular {
    @apply text-xl font-normal;
  }

  .tablet\:text-2xl-bold {
    @apply text-2xl font-bold;
  }
  .tablet\:text-2xl-semibold {
    @apply text-2xl font-semibold;
  }
  .tablet\:text-2xl-medium {
    @apply text-2xl font-medium;
  }
  .tablet\:text-2xl-regular {
    @apply text-2xl font-normal;
  }

  .tablet\:text-3xl-bold {
    @apply text-3xl font-bold;
  }
  .tablet\:text-3xl-semibold {
    @apply text-3xl font-semibold;
  }
  .tablet\:text-3xl-medium {
    @apply text-3xl font-medium;
  }
  .tablet\:text-3xl-regular {
    @apply text-3xl font-normal;
  }

  /* PC */
  .pc\:text-xs-bold {
    @apply text-xs font-bold;
  }
  .pc\:text-xs-semibold {
    @apply text-xs font-semibold;
  }
  .pc\:text-xs-medium {
    @apply text-xs font-medium;
  }
  .pc\:text-xs-regular {
    @apply text-xs font-normal;
  }

  .pc\:text-sm-bold {
    @apply text-sm font-bold;
  }
  .pc\:text-sm-semibold {
    @apply text-sm font-semibold;
  }
  .pc\:text-sm-medium {
    @apply text-sm font-medium;
  }
  .pc\:text-sm-regular {
    @apply text-sm font-normal;
  }

  .pc\:text-base-bold {
    @apply text-base font-bold;
  }
  .pc\:text-base-semibold {
    @apply text-base font-semibold;
  }
  .pc\:text-base-medium {
    @apply text-base font-medium;
  }
  .pc\:text-base-regular {
    @apply text-base font-normal;
  }

  .pc\:text-lg-bold {
    @apply text-lg font-bold;
  }
  .pc\:text-lg-semibold {
    @apply text-lg font-semibold;
  }
  .pc\:text-lg-medium {
    @apply text-lg font-medium;
  }
  .pc\:text-lg-regular {
    @apply text-lg font-normal;
  }

  .pc\:text-xl-bold {
    @apply text-xl font-bold;
  }
  .pc\:text-xl-semibold {
    @apply text-xl font-semibold;
  }
  .pc\:text-xl-medium {
    @apply text-xl font-medium;
  }
  .pc\:text-xl-regular {
    @apply text-xl font-normal;
  }

  .pc\:text-2xl-bold {
    @apply text-2xl font-bold;
  }
  .pc\:text-2xl-semibold {
    @apply text-2xl font-semibold;
  }
  .pc\:text-2xl-medium {
    @apply text-2xl font-medium;
  }
  .pc\:text-2xl-regular {
    @apply text-2xl font-normal;
  }

  .pc\:text-3xl-bold {
    @apply text-3xl font-bold;
  }
  .pc\:text-3xl-semibold {
    @apply text-3xl font-semibold;
  }
  .pc\:text-3xl-medium {
    @apply text-3xl font-medium;
  }
  .pc\:text-3xl-regular {
    @apply text-3xl font-normal;
  }
}
