@import "tailwindcss";

@theme {
  --breakpoint-tablet: 376px;
  --breakpoint-pc: 745px;

  --color-brand-gray-100: #f3f4f6;
  --color-brand-gray-200: #e5e7eb;
  --color-brand-gray-300: #d1d5db;
  --color-brand-gray-400: #9ca3af;
  --color-brand-gray-500: #6b7280;
  --color-brand-gray-600: #4b5563;
  --color-brand-gray-700: #374151;
  --color-brand-gray-800: #1f2937;

  --color-brand-blue-50: #2661e8;
  --color-brand-blue-100: #e2ecff;
  --color-brand-blue-500: #8b5cf6;

  --color-brand-red: #ef4444;
  --color-brand-green: #22c55e;
  --color-brand-purple: #a855f7;
  --color-brand-orange: #f97316;
  --color-brand-pink: #ec4899;

  --font-sans: var(--font-sans), system-ui, sans-serif;
  --font-eng: var(--font-eng), system-ui, sans-serif;

  --text-3xl-bold: 1.875rem;
  --text-3xl-bold--line-height: 2.25rem;
  --text-3xl-bold--font-weight: 700;
  --text-3xl-semibold: 1.875rem;
  --text-3xl-semibold--line-height: 2.25rem;
  --text-3xl-semibold--font-weight: 600;
  --text-2xl-bold: 1.5rem;
  --text-2xl-bold--line-height: 2rem;
  --text-2xl-bold--font-weight: 700;
  --text-2xl-semibold: 1.5rem;
  --text-2xl-semibold--line-height: 2rem;
  --text-2xl-semibold--font-weight: 600;
  --text-2xl-medium: 1.5rem;
  --text-2xl-medium--line-height: 2rem;
  --text-2xl-medium--font-weight: 500;
  --text-2xl-regular: 1.5rem;
  --text-2xl-regular--line-height: 2rem;
  --text-2xl-regular--font-weight: 400;
  --text-xl-bold: 1.25rem;
  --text-xl-bold--line-height: 1.75rem;
  --text-xl-bold--font-weight: 700;
  --text-xl-semibold: 1.25rem;
  --text-xl-semibold--line-height: 1.75rem;
  --text-xl-semibold--font-weight: 600;
  --text-xl-medium: 1.25rem;
  --text-xl-medium--line-height: 1.75rem;
  --text-xl-medium--font-weight: 500;
  --text-xl-regular: 1.25rem;
  --text-xl-regular--line-height: 1.75rem;
  --text-xl-regular--font-weight: 400;
  --text-2lg-bold: 1.125rem;
  --text-2lg-bold--line-height: 1.625rem;
  --text-2lg-bold--font-weight: 700;
  --text-2lg-semibold: 1.125rem;
  --text-2lg-semibold--line-height: 1.625rem;
  --text-2lg-semibold--font-weight: 600;
  --text-2lg-medium: 1.125rem;
  --text-2lg-medium--line-height: 1.625rem;
  --text-2lg-medium--font-weight: 500;
  --text-2lg-regular: 1.125rem;
  --text-2lg-regular--line-height: 1.625rem;
  --text-2lg-regular--font-weight: 400;
  --text-lg-bold: 1rem;
  --text-lg-bold--line-height: 1.5rem;
  --text-lg-bold--font-weight: 700;
  --text-lg-semibold: 1rem;
  --text-lg-semibold--line-height: 1.5rem;
  --text-lg-semibold--font-weight: 600;
  --text-lg-medium: 1rem;
  --text-lg-medium--line-height: 1.5rem;
  --text-lg-medium--font-weight: 500;
  --text-lg-regular: 1rem;
  --text-lg-regular--line-height: 1.5rem;
  --text-lg-regular--font-weight: 400;
  --text-md-bold: 0.9375rem;
  --text-md-bold--line-height: 1.375rem;
  --text-md-bold--font-weight: 700;
  --text-md-semibold: 0.9375rem;
  --text-md-semibold--line-height: 1.375rem;
  --text-md-semibold--font-weight: 600;
  --text-md-medium: 0.9375rem;
  --text-md-medium--line-height: 1.375rem;
  --text-md-medium--font-weight: 500;
  --text-md-regular: 0.9375rem;
  --text-md-regular--line-height: 1.375rem;
  --text-md-regular--font-weight: 400;
  --text-sm-semibold: 0.875rem;
  --text-sm-semibold--line-height: 1.25rem;
  --text-sm-semibold--font-weight: 600;
  --text-sm-medium: 0.875rem;
  --text-sm-medium--line-height: 1.25rem;
  --text-sm-medium--font-weight: 500;
  --text-xs-semibold: 0.75rem;
  --text-xs-semibold--line-height: 1rem;
  --text-xs-semibold--font-weight: 600;
  --text-xs-medium: 0.75rem;
  --text-xs-medium--line-height: 1rem;
  --text-xs-medium--font-weight: 500;
  --text-xs-regular: 0.75rem;
  --text-xs-regular--line-height: 1rem;
  --text-xs-regular--font-weight: 400;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
